<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center group-row">

    <div class="row row-last">
      <li><h3>My Groups</h3></li>
    </div>
    <div class="row-content">
      <% group_count = 0 %>
      <% @groups.each do |g| %>
          <% if group_count.even? %>
            <div class="row odd-row">
          <% else %>
            <div class="row even-row">
          <% end %>
            <li><%= link_to g.name, group_categories_path(g), data: { no_turbolink: true} %></li>
          </div>
          <% group_count += 1 %>
      <% end %>
    </div>
      <div class="row row-last">
        <li><a class="group-link" href="<%= new_group_path %>"> + Add new group</a></li>
      </div>
    
  </div>
</div>
