// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h4 {
	font-color: gray;
	font-size: 30px;
	font-family: Helvetica;
}

p {
	font-size: 18px;
}

.nav_bar {
	background: url(logo.png);
	background-repeat: no-repeat;
	padding: 0 auto;
	width: 970px;
	height: 60px;

	margin: 0 auto;
	text-align: center;
}

/*.logo {
	background: url(WEFridge_logo.png);

}*/

.welcome_image {
	max-width: 300px;
	margin-top: 20px;

}

.image-description {
	margin-top: 50px;
	font-size: 22px;
	font-family: "Hammersmith One";
	color: rgb(131, 41, 30);
}

.wefridge_bg {
  background: url(WEKitchen3.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 960px;
  height: 480px;
  margin: 0 auto;
}

.content {
	font-size: 50px;
	width: 960px;
	height: 184px;	
	margin: 135px auto 0px;
	padding: 50px 20px;
	font-family: "Hammersmith One";
	background-color: rgb(131, 41, 30);
}

.content2 {
	font-size: 26px;
	padding: 50px 20px;
	width: 960px;
	height: 300px;
	margin: 0 auto;
	font-family: "Hammersmith One";
	background-color: rgb(131, 41, 30);
}

.content3{
	width: 960px;
	height: 400px;
	margin: 0 auto;
}

.content4{
	width: 960px;
	height: 300px;
	margin: 0 auto;
}
.btn-large {
	padding: 40px 0;
	height: 150px;
	width: 300px;
	font-size: 40px;
}

/*
1181x67*/